<div class="books">
    <button
        class="books__button"
        color="secondary"
        mat-button
        (click)="openModal()"
    >
        Новая книга
    </button>
    <ul class="books__list">
        <li class="books__item" *ngFor="let book of books$ | async">
            <app-book-item
                [book]="book"
                (edit)="openModal(book)"
                (remove)="removeBook(book)"
            ></app-book-item>
        </li>
    </ul>
</div>

<app-book-form
    *ngIf="isModalOpen"
    [book]="selectedBook || { author: '', name: '', year: 0, pages: 0 }"
    [isNew]="!selectedBook"
    (close)="closeModal()"
    (save)="saveBook($event)"
></app-book-form>
